@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover; 
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* put some style to the name of the artist*/
.main_title{
  text-align: center;
  padding-top: 7vh;
  font-size: 1000%;
  background-color: white;
  color: transparent;
  background-clip: text;
}

/* this div regroups the profile picture, the social network links and the name of the artist */
.top_div {
  width: 100vw;
  height: 100vh;
  background-image: url('../public/images/Background.png'); /* Assuming the images folder is in the public folder */
  background-size: 200vh; /* or 'contain' depending on your preference */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: relative; /* Ensure positioning works as expected */
  /* mix-blend-mode:multiply; */
}

/* style the music rows which are the links used for each album to direct the user to the plateform they prefer  */
.Music_Row {
  font-size: 140%;
  width: 90%;
  background-color:rgb(255, 255, 255);
  padding: 1.5vh; 
  margin-left: 2.5vh;
  border-radius: 2vh;
}

/* style the text of the titles inside the music rows*/
.Music_text {
  width: 80%;
  float: right;
  text-align: center;
  font-size: x-large;
}
/* Choose your style for your albums
   if you wish to personalize each one of the albums titles individually you can stop 
   now because it is not gonna work  */
.album_title{
  font-size: 250%;
  background-color: white;
  color: transparent;
  background-clip: text;
}
.Music_Row:hover {
  box-shadow: 0 10px 10px rgba(4, 9, 156, 0.2);
  transform: translateX(10px) translateY(-8px);
  transition: transform 0.2s, box-shadow 0.2s;
}

/*div containing all the links*/
.LinkContainer {
  font-size: 200%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 1.5vh;
  bottom: 0.3vh;
  right: 0; /* Align the links to the right side of the screen */
  width: max-content;
}


/* Default style for all screen sizes */
.links {
  margin: 6vh;
}

/*div separating the links from the top div to be able to center it correctly*/
.containerCenter{
  text-align: center;
  width: max-content;
}

/* Media query for screens with a maximum width of 599px (phones) */
@media screen and (max-width: 599px) {
  .LinkContainer {
    font-size: 200%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 2.5vh;
    bottom: 0.3vh;
    width: max-content;
  }
  
    .links {
    margin: 6vh;
  }
  .containerCenter{
    text-align: right;
  }

  .main_title{
    text-align: center;
    padding-top: 9vh;
    font-size: 500%;
  }

  .top_div {
    width: 100vw;
    height: 100vh;
    background-image: url('../public/images/Background.png'); /* Need to put the background picture in the image folder and name it background.pn */
    background-size: 210vh; /* or 'contain' depending on your preference */
    background-position:-95vh; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    position: relative; /* Ensure positioning works as expected */
    mix-blend-mode:multiply;
  }
}

/* tablet size */
@media screen and (max-width: 1500px) {

  .links {
    margin: 3vh;
  }

  .LinkContainer {
    max-width: 120%;
  }
}

